@{
     ViewData["Title"] = "About Anish";
}

<div class="text-center">
    <h1 class="display-4">About Anish!</h1>
    <p>Anish is a 4th year IT student at UC on the Software Development track. 
    He has a passion for tech and how things work which led him on this career path. In their free time, 
    they're other passions include movies, reading books, biking and playing violin. Anish especially loves watching films and having meaningful
    discussions about them, even writing small reviews for them on Letterboxd somtimes. 
    Getting lost in stories is a great escape for Anish which is what draws him to that hobby most.</p>
</div>
