@{
     ViewData["Title"] = "About Bangyan";
}

<div class="text-center">
    <h1 class="display-4">About Bangyan!</h1>
    <img class="profile-img img-fluid" src="~/images/BangyanJu.jpg" />
    <p>Get to know more about Bangyan.</p>
</div>