@{
     ViewData["Title"] = "About Bangyan";
}

<div class="text-center">
    <h1 class="display-4">About Bangyan!</h1>
    <img class="profile-img img-fluid" src="~/images/BangyanJu.jpg" />
    <p>Bangyan Ju is a Senior student at UC.She likes reading , cooking, swimming and playing video games with her friends.</p>
</div>