@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p>This is our final project for Web Server Application Development.</p>
</div>
<figure class="figure">
    <img class="profile-img figure-img img-fluid" src="~/images/IMG_20220405_211218_717.jpg"  />
    <figcaption class="figure-caption">Sara Barnes</figcaption>
</figure>
<figure class="figure" ALIGN="RIGHT">
    <img class="profile-img figure-img img-fluid" src="~/images/BangyanJu.jpg"  />
    <figcaption class="figure-caption">Bangyan Ju</figcaption>
</figure>
    

