
@{
     ViewData["Title"] = "About Jeffrey";
}

<div class="text-center">
    <h1 class="display-4">About Jeffrey!</h1>
    <img class="profile-img img-fluid" src="~/images/image0.jpg" />
     <p>Jeffrey is a junior at the University of Cincinnati studying Software Development.</p>
     <p>Some of his favorite hobbies include photography, swimming, and playing video games.</p>
</div>