@{
     ViewData["Title"] = "About Sara";
}

<div class="text-center">
    <h1 class="display-4">About Sara!</h1>
    <img class="profile-img img-fluid" src="~/images/IMG_20220405_211218_717.jpg" />
    <p>Get to know more about Sara.</p>
</div>