@{
     ViewData["Title"] = "About Sara";
}

<div class="text-center">
    <h1 class="display-4">About Sara!</h1>
    <img class="profile-img img-fluid" src="~/images/IMG_20220405_211218_717.jpg" />
    <p>Sara is an IT major at the University of Cincinnati. They are a fourth year and in the 
        Software Development track. In their free time, they do some art journaling. This basically
        involves creating art in some kind of journal. Sara says they enjoy this hobby because
        it allows them to express themself freely in a safe space.
    </p>
</div>