
@{
     ViewData["Title"] = "About Jeffrey";
}

<div class="text-center">
    <h1 class="display-4">About Jeffrey!</h1>
    <img class="profile-img img-fluid" src="~/images/image0.jpg" />
    <p>Get to know more about Jeffrey.</p>
</div>